<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>
                    <!--custom css-->
        <link rel="stylesheet" href="styles/style.css">
                    <!--angular-->
        <script type="text/javascript" src="assets/angular.min.js"></script>
    </head>
    <body ng-controller="myCtrl">

        <div class="border">
            <input type="text" ng-model="name">
            <h1 class="name">{{name}}</h1>
        </div>

        <div class="border">
            <ul>
                <li ng-repeat="item in items track by $index">{{item}}</li>
            </ul>
            <input type="text" ng-model="value">
            <button ng-click="addItem()">Add Item</button>
        </div>
                    <!--controller-->
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>